h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1a73e8;
    font-size: 24px;
    font-weight: bold;
}
.header{
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: center;
    gap: 25px;
}
.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 4px;
    border: 2px solid #1a73e8;
    gap: 25px;
    padding: 20px;
    margin: 0 auto;
}
.item{
    width: 45%;
    border: 1px solid blue;
    position: relative;
    padding: 20px;

    box-sizing: border-box;
    border-radius: 4px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
input[type=text] {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.20);
}
#btn{
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    overflow:hidden;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    z-index: 1;
}
#btn:hover {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
    background-color: #297be6;
}
.delete{
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
}
.delete:hover{
    color: red;
    transition: 2s;
}
.complite{
    background-color: lawngreen;
    color: white;
    border: none;
}
.inp-cont{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.error-cont{
    color: red;
    font-size: 12px;
}